<script>

    // Size and margins
      const width = 600;
      const height = 250;
      const margin = { top: 10, right: 10, bottom: 10, left: 10 };
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;
  
      let datapoints = [];
      fetch("./data/hourly_heating_december.json")
      .then(res => res.json())
      .then(data => datapoints = data)
  
      $: console.log(datapoints)
      let transformed_data = {}
      $: {
      datapoints.forEach((d) => {
            if (!(d.city in transformed_data)){
              transformed_data[d.city] = {}
            }
            if (!(d.buildingtype in transformed_data[d.city])) {
                transformed_data[d.city][d.buildingtype] = {}
          }
            if (!(d.day in transformed_data[d.city][d.buildingtype])){
                transformed_data[d.city][d.buildingtype][d.day] = []
          }
          transformed_data[d.city][d.buildingtype][d.day].push(d.total_heating_energy)
      })
    }
      $: console.log(transformed_data)
      $: console.log(datapoints.map((d) => d.total_heating_energy))

    //radio buttons
    let selected = 'Baltimore';  
    let selected2 = 'Within Lines'

  </script>
  
  
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      
      {#each Object.keys(transformed_data) as c_type, c_index}
      {#each Object.keys(transformed_data[c_type]) as b_type, b_index}
        <g transform = "translate(0, {b_index*15})">
          {#each Object.keys(transformed_data[c_type][b_type]) as day, d_index}
          <g transform = "translate({d_index*15},0)">
            {#each transformed_data[selected][b_type][day] as value, v_index}
            {#if selected2 == 'Within Lines'}
              <line x1=55 y1=0 x2=70 y2=0 stroke-width={value*0.0005*b_index}/>
              {:else}
              <line x1=55 y1=0 x2=70 y2=0 stroke-width={value*0.0005*v_index}/>
              {/if}
            {/each}
            </g>
          {/each}
          <text font-size=7>{b_type}</text>
        </g> 
      {/each}
      {/each}
  </g>

  </svg>
  
  <style>
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
    line {
    stroke: black;
    }
    label{
      font-size: xx-small;
    }
  </style>

<label>
<h6>Click the City!</h6>

		<input type="radio" bind:group={selected} name="city" value='Baltimore'> Baltimore
    <input type="radio" bind:group={selected} name="city" value='Los Angeles'> Los Angeles
    <input type="radio" bind:group={selected} name="city" value='Chicago'> Chicago

<h6>Click the Scaling!</h6>

		<input type="radio" bind:group={selected2} name="scale" value='Within Lines'> Within line
    <input type="radio" bind:group={selected2} name="scale" value='Across Lines'> Across lines
	</label>