<script>
import { scaleLinear } from 'd3-scale';

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let datapoints = [];
      fetch("./data/daily_heating_cooling.json")
      .then(res => res.json())
      .then(data => datapoints = data)
  
      $: console.log(datapoints)
      let transformed_data = {}

      $: {
      datapoints.forEach((d) => {
            if (!(d.city in transformed_data)){
              transformed_data[d.city] = {}
            }
            if (!(d.month in transformed_data[d.city])) {
                transformed_data[d.city][d.month] = {}
          }
            if (!(d.day in transformed_data[d.city][d.month])){
                transformed_data[d.city][d.month][d.day] = []
            }
            if (!(d.heating in transformed_data[d.city][d.month][d.day])){
                transformed_data[d.city][d.month][d.day][d.heating] = []
            }
            transformed_data[d.city][d.month][d.day][d.heating].push(d.heating)
            if (!(d.cooling in transformed_data[d.city][d.month][d.day])){
                transformed_data[d.city][d.month][d.day][d.cooling] = []
            }
            transformed_data[d.city][d.month][d.day][d.cooling].push(d.cooling)

      })
    }
      $: console.log(transformed_data)

      var x = scaleLinear().domain([0, 25000]).range([0, 100]);
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(transformed_data) as c_type, c_index}
    <g transform = "translate({100+(c_index*150)},20)">
    <circle class = "clock" cx=30 cy=100 r=70/>
    <text>{c_type}</text>
    <line x1=30 y1=30 x2=30 y2=170 stroke='black' stroke-width=0.5/>
    <line x1=-40 y1=100 x2=100 y2=100 stroke='black' stroke-width=0.5/>
      {#each Object.keys(transformed_data[c_type]) as m_type, m_index}
      <g transform="translate(30,100) rotate({30*m_index}) translate(25,-65)">
      <text>{m_type}</text>
        {#each Object.keys(transformed_data[c_type][m_type]) as d_type}
          {#each Object.keys(transformed_data[c_type][m_type][d_type]) as j_type, j_index}
          <!-- <g transform="translate({j_index},0)"> -->
            {#each transformed_data[c_type][m_type][d_type][j_type] as value, index}
            {#if j_index == 0}
            <path d="M0 {x(value)} l5 0 Z" stroke="red"/>
            {:else}
            <path d="M0 {x(value)} l5 0 Z" stroke="blue"/>
            {/if}
            {/each}
      
       {/each}
       {/each}
    </g>
    {/each}
  </g>
    {/each}
    
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  circle.clock {
    fill: white;
    fill-opacity: 0.1;
    stroke: black;
  }
</style>
