<script>
  let current = "";
</script>

<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary" on:click={() => (current = "messi")}>
  Messi
</button>

<button class="btn btn-secondary" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="btn btn-secondary" on:click={() => (current = "neymar")}>
  Neymar
</button>

<p class:myClassName={current === 'messi'}/>'
<p class:myClassName={current === 'ronaldo'}/>
<p class:myClassName={current === 'neymar'}/>
	
<style>	
	p.myClassName{
		background-color: #ff3e00;
		color: white;
	}
</style>
