<script>
    const myName = 'Theresse'
    const myList = ['travelling', 'fashion', 'trying different food'];
</script>

<p>
    My name is {myName} and these are some of my favourite things: {myList}.
</p>
