<script>
	let count = 0;
</script>

<h3>You have clicked the button {count} times</h3>

<button on:click={() => (count += 1)}>
	Count
</button>
<button on:click={() => (count = 0)}>
	Reset
</button>

