<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 90,
    innerWidth / 2 - 45,
    innerWidth / 2,
    innerWidth / 2 + 45,
    innerWidth / 2 + 90
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  let color_0, color_1, color_2, color_3, color_4 = "black";
	
	setTimeout(function (){color_0 = "darkred"}, 5000);
	setTimeout(function (){color_1 = "darkred"}, 4000);
	setTimeout(function (){color_2 = "darkred"}, 3000);
	setTimeout(function (){color_3 = "darkred"}, 2000);
	setTimeout(function (){color_4 = "darkred"}, 1000);
	setTimeout(function (){color_0 = "darkgreen", color_1 = "darkgreen", color_2 = "darkgreen", color_3 = "darkgreen", color_4 = "darkgreen"}, 7000);
	setTimeout(function (){color_0 = "black", color_1 = "black", color_2 = "black", color_3 = "black", color_4 = "black"}, 10000);
	
	
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <circle cx={points[0]} cy=40 r=20 fill= {color_0}/>
		<circle cx={points[1]} cy=40 r=20 fill= {color_1}/>
		<circle cx={points[2]} cy=40 r=20 fill= {color_2}/>
		<circle cx={points[3]} cy=40 r=20 fill= {color_3}/>
		<circle cx={points[4]} cy=40 r=20 fill= {color_4}/>
  </g>
</svg>
