<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
</script>

<svg width="100" height="100" viewBox='0 0 100 100'>
    <circle cx="50" cy="50" r="20" fill="teal" />
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>