<script>
  import { scaleLinear } from 'd3-scale';
  import { scaleLog } from 'd3-scale';
 
 // Dimensions
 const width = 800;
 const height = 100;
 const margin = { top: 5, right: 5, bottom: 5, left: 5 };
 const innerWidth = width - margin.left - margin.right;
 const innerHeight = height - margin.top - margin.bottom;

 // Array
 const values = [2, 4, 6, 7, 9];
 let xScale = scaleLinear().domain([0, 10]).range([0, innerWidth]);
 let yScale = scaleLog().domain([0.1, 100]).range([innerHeight,0]);
</script>

<svg viewBox="0 0 {width} {height}">
 <g transform="translate({margin.left},{margin.top})">
   {#each values as v}
     <circle
       cx={xScale(v)}
       cy={yScale(v)}
       r="10"
       fill="steelblue"
     />
   {/each}
 </g>
</svg>

<style>
 svg {
   border: 1px solid black;
   border-radius: 5px;
 }
</style>

