<script>
  import { scaleLinear } from 'd3-scale';
  import { scaleLog } from 'd3-scale';
	import { axisBottom } from 'd3-axis';
	import { select } from 'd3-selection';
 
 // Dimensions
 const width = 800;
 const height = 100;
 const margin = { top: 5, right: 5, bottom: 5, left: 5 };
 const innerWidth = width - margin.left - margin.right;
 const innerHeight = height - margin.top - margin.bottom;

 // Array
 const values = [2, 4, 6, 7, 9];
	
// Scales
let Scale = scaleLinear().domain([0, 10]).range([5, innerWidth-380]);
let xScale = scaleLinear().domain([0, 10]).range([5, innerWidth]);
let yScale = scaleLog().domain([0.1, 100]).range([innerHeight, 0]);
	
// Add scales to axis
 const xAxis = axisBottom().scale(Scale);
	xAxis.ticks(10)
	xAxis.tickSize(1)
	
// Append SVG 
 const svg = select("body")
 .append("svg")
 .attr("width", innerWidth)
 .attr("height", innerHeight)
 .call(xAxis)
 .attr("transform","translate(0, 130)");

	// Label
</script>

<svg viewBox="0 0 {width} {height}">
 <g transform="translate({margin.left},{margin.top})" use = "svg">
   {#each values as v}
     <circle
       cx={xScale(v)}
       cy={yScale(v)}
       r="10"
       fill="steelblue"
     />
   {/each}
 </g>
</svg>

<style>
 svg {
   border: 1px solid black;
   border-radius: 5px;
 }
</style>

